<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--<mvc:interceptors>-->
        <!--&lt;!&ndash; 登陆拦截器,负责拦截未登录的操作 &ndash;&gt;-->
        <!--<mvc:interceptor>-->
            <!--&lt;!&ndash; 需要拦截的地址 &ndash;&gt;-->
            <!--<mvc:mapping path="/**"/>-->
            <!--&lt;!&ndash; 需要排除拦截的地址 &ndash;&gt;-->
            <!--<mvc:exclude-mapping path="/static/**"/>-->
            <!--<mvc:exclude-mapping path="/register"/>-->
            <!--<bean id="loginInterceptor" class="">-->
                <!--<property name="IGNORE_URI">-->
                    <!--<list>-->
                        <!--<value>/user/login</value>-->
                        <!--<value>/user/logout</value>-->
                    <!--</list>-->
                <!--</property>-->
            <!--</bean>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->

    <!-- 配置包扫描器，扫描@Controller注解的类 -->
    <context:component-scan base-package="cn.soft.zhaopin.base.controller"/>

    <!-- 配置注解驱动 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <!-- 解决ajax中文乱码问题 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 静态资源映射 -->

    <!-- 多媒体解析器 -->
    <!-- 配置文件上传解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设定默认编码 -->
        <property name="defaultEncoding" value="UTF-8"/>
        <!-- 设定文件上传的最大值5MB，5*1024*1024 -->
        <property name="maxUploadSize" value="5242880"/>
        <!-- 内存中的最大值 -->
        <property name="maxInMemorySize" value="40960"/>
    </bean>
</beans>